.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.right-text {
  text-align: right;
  max-width: 40vw;
  border: 2px solid black;
  justify-self: end;
  padding: 3px 15px;
  border-radius: 20px;
  border-top-right-radius: 0;
  background-color: rgb(14, 22, 24);
  color: white;
}

.left-text {
  max-width: 60vw;
  border: 2px solid black;
  justify-self: start;
  max-width: 50vw;
  padding: 3px 15px;
  border-radius: 20px;
  border-top-left-radius: 0;
  background-color: rgb(22, 102, 126);
  color: white;
}


.promptfield {
  width: 60vw;
  height: 50px;
  border-radius: 50px;
  padding: 0 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.send-btn {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}